/* 
    Created on : Feb 15, 2015, 10:50:03 AM
    Author     : whgol_000
*/

#loginModal {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    top: 5%;
}

#eventTable{
    max-width: 500px;
}

