/* 
    Created on : Feb 15, 2015, 10:50:03 AM
    Author     : whgol_000
*/

/*
#loginModal {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    top: 5%;
}
*/

/*
#checkinModal {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    top: 5%;
    text-align: center;
}
*/

#eventTable{
    max-width: 500px;
}

/*
#participantTable{
    max-width: 500px;
}
*/

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: lightblue;
}

.whiteBackground{
    background-color: white
}


.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.row{
  margin-bottom: 1%;
}

.modal-open{
  overflow: auto;
}

.panel-success {
  border-color: lightblue;
}
.panel-success > .panel-heading {
  color: black;
  background-color: lightblue;
  border-color: lightblue;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: lightblue;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: lightblue;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: lightblue;
}

/*
.checkinTables {
  width: 50%;
}
*/

#equipmentButton, #submitBtn{
  margin: 15px;
  float: right;
}
