/* 
    Created on : Feb 15, 2015, 10:50:03 AM
    Author     : whgol_000
*/

#loginModal {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    top: 5%;
}

#checkinModal {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    top: 5%;
    text-align: center;
}

#eventTable{
    max-width: 500px;
    background-color: lightblue;
}

#participantTable{
    max-width: 500px;
}

.whiteBackground{
    background-color: white
}

