<!DOCTYPE html>
<html lang="en" ng-app="fencin">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Welcome page">
        <meta name="author" content="Wendy Goller">
        <title>Welcome</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">
        <link href="css/mainStyle.css" rel="stylesheet">
    </head>

    <body ng-controller="mainController">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Welcome {{user.email}}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/checkin">Check In</a></li>
                        <li><a href="#/backroom">Backroom</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Sign In</a></li>
                        <li><a href="#/tournamentSelection">Tournaments</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- Login Modal -->
        <div class="modal" id="loginModal" ng-submit="logIn()">
            <div class="modal-header">
                <a href="#" class="btn btn-success pull-right" data-dismiss="modal">x</a>
                <h4>Login to Fencein</h4>
            </div>
            <div class="modal-body">
                <form name="loginForm">
                    <p><input type="email" class="span3" name="email" id="email" placeholder="Enter Email" value="" ng-model="user.email"></p>
                    <p><input type="password" class="span3" name="loginPassword" id="loginPassword" placeholder="Enter Password" ng-model="user.password"></p>
                    <p><button type="submit" class="btn btn-success">Sign in</button> <a href="<? base_url();?>/forgotpassword">Forgot Password</a></p>
                </form>
            </div>
        </div>

        <!-- routed contend -->
        <div class="container">
            <ng-view></ng-view>



            <!--    {{tournamentList}}-->





        </div>



        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy; Wendy Goller & Eric Alen 2015</p>
            </div>
        </footer>


        <script src="js/plugins/jquery-1.11.2.min.js"></script>
        <script src="js/plugins/angular.js"></script>
        <script src="js/plugins/angularfire.min.js"></script>
        <script src="js/plugins/bootstrap.min.js"></script>
        <script src="js/plugins/angular-route.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>

        <script src="js/app.js"></script>
        <script src="js/mainService.js"></script>
        <script src="js/keys.js"></script>
        <script src="js/askfredService.js"></script>
        <script src="js/mainController.js"></script>
        <script src="js/pages/tournaments/tournamentsSelectionController.js"></script>
        <script src="js/pages/checkin/checkinController.js"></script>
        <script src="js/pages/checkin/checkinService.js"></script>
        <script src="js/pages/backroom/backroomController.js"></script>
        <script src="js/pages/login/loginControler.js"></script>
        <script src="js/pages/login/loginService.js"></script>

    </body>
</html>

