<!DOCTYPE html>
<html lang="en" ng-app="fencin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome page">
    <meta name="author" content="Wendy Goller">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="css/mainStyle.css" rel="stylesheet">
  </head>

  <body ng-controller="mainController"  class="container">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/dashboard">Welcome {{session}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/checkinSelection">Check In</a></li>
            <li><a href="#/backroom">Backroom</a></li>
            <li><a href="#/tournamentSelection">Tournaments</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
<!--            <li><a href="#/login" class="ng-cloak" ng-hide="authorized" ng-model="signInLink">Sign In</a></li>-->
            <li><a href="#/login" ng-model="signInLink">Sign In</a></li>
<!--            <li><a href="#/login" class="ng-cloak" ng-show="authorized" ng-click="signout()" ng-model="signOutLink">Sign Out</a></li>-->
            <li><a href="#/login" ng-click="signout()" ng-model="signOutLink">Sign Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- routed content -->
    <div class="container">
      <ng-view></ng-view>
    </div>

    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">&copy; 2015 Wendy Goller, Eric Allen & Chris Goller</p>
      </div>
    </footer>

    <script src="js/plugins/jquery-1.11.2.min.js"></script>
    <script src="js/plugins/angular.js"></script>
    <script src="js/plugins/angularfire.min.js"></script>
    <script src="js/plugins/bootstrap.min.js"></script>
    <script src="js/plugins/angular-route.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="js/plugins/smart-table.min.js" type="text/javascript"></script>
    <script src="js/plugins/ui-bootstrap-tpls-0.12.1.min.js" type="text/javascript"></script>

    <script src="js/app/env.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainService.js"></script>
    <script src="js/keys.js"></script>
    <script src="js/askfredService.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/pages/tournaments/tournamentsSelectionController.js"></script>
    <script src="js/pages/checkin/checkinController.js"></script>
    <script src="js/pages/checkin/checkinService.js"></script>
    <script src="js/pages/checkin/checkinParticipantController.js"></script>
    <script src="js/pages/backroom/backroomController.js"></script>
    <script src="js/pages/backroom/backroomService.js"></script>
    <script src="js/pages/login/loginControler.js"></script>
    
    <script src="js/SessionService.js"></script>
    <script src="js/AuthService.js"></script>
    <script src="js/pages/equipment/equipmentController.js"></script>
    <script src="js/firebaseService.js"></script>
    <script src="js/pages/checkin/checkinSelectionController.js"></script>
    <script src="js/pages/dashboard/dashboardController.js"></script>
    <script src="js/environmentService.js"></script>
    
    
    
    
    
<!--    <script src="js/pages/checkin/checkinModalController.js"></script>-->
  </body>
</html>

