
<div class="row"> 
  <div class="col-md-6 col-sm-6">
    <h2>{{currentTournament.tournament.tournamentName}}</h2>
  </div>
  <div class="col-md-6 col-sm-6">
    <h2 class="pull-right">{{currentTournament.tournament.tournamentStartDate}}</h2>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading"><h3>People that need to be added to bracket</h3></div>
  <div class="panel-body">
    <table class='table table-hover table-striped table-success' id='backroomToAddTable' st-table="fencers2" st-safe-src="fencers">
      <thead>
        <tr>
          <th class='col-md-2 col-sm-2' st-sort='eventName' st-skip-natural="true">Event</th>
          <th class='col-md-1 col-sm-1' st-sort='last_name' st-skip-natural="true">Last name</th>
          <th class='col-md-1 col-sm-1' st-sort='first_name' st-skip-natural="true">First name</th>
          <th class='col-md-1 col-sm-1' st-sort='usfa_id' st-skip-natural="true">Membership Id</th>
          <th class='col-md-1 col-sm-1' st-sort='details.membership_type' st-skip-natural="true">Membership Type</th>
          <th class='col-md-1 col-sm-1' st-sort='birthyear' st-skip-natural="true">Birth Year</th>
          <th class='col-md-1 col-sm-1' st-sort='gender' st-skip-natural="true">Gender</th>
          <th class='col-md-1 col-sm-1' st-sort='details.saber_rating' st-skip-natural="true">Saber Rating</th>
          <th class='col-md-1 col-sm-1' st-sort='details.foil_rating' st-skip-natural="true">Foil Rating</th>
          <th class='col-md-1 col-sm-1' st-sort='rating' st-skip-natural="true">AskFred Rating</th>
        </tr>
      </thead>

      <tbody>            
        <tr ng-repeat='fencer in fencers2 | filter:{inFencingTime:false}'>
          <td data-ng-click="fencingTime(fencer)">{{fencer.eventName}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.last_name}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.first_name}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.usfa_id}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.details.membership_type}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.birthyear}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.gender}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.details.saber_rating}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.details.foil_rating}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<h3>People added to the bracket</h3>-->


<div class="panel panel-success">
  <div class="panel-heading"><h3>People added to the bracket</h3></div>
  <div class="panel-body">
    <table class='table table-hover table-striped table-success' id='backroomAddedTable' st-table="fencers2" st-safe-src="fencers">
      <thead>
        <tr>
          <th class='col-md-2 col-sm-2' st-sort='eventName' st-skip-natural="true">Event</th>
          <th class='col-md-1 col-sm-1' st-sort='last_name' st-skip-natural="true">Last name</th>
          <th class='col-md-1 col-sm-1' st-sort='first_name' st-skip-natural="true">First name</th>
          <th class='col-md-1 col-sm-1' st-sort='usfa_id' st-skip-natural="true">Membership Id</th>
          <th class='col-md-1 col-sm-1' st-sort='details.membership_type' st-skip-natural="true">Membership Type</th>
          <th class='col-md-1 col-sm-1' st-sort='birthyear' st-skip-natural="true">Birth Year</th>
          <th class='col-md-1 col-sm-1' st-sort='gender' st-skip-natural="true">Gender</th>
          <th class='col-md-1 col-sm-1' st-sort='details.saber_rating' st-skip-natural="true">Saber Rating</th>
          <th class='col-md-1 col-sm-1' st-sort='details.foil_rating' st-skip-natural="true">Foil Rating</th>
          <th class='col-md-1 col-sm-1' st-sort='rating' st-skip-natural="true">AskFred Rating</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat='fencer in fencers2 | filter:{inFencingTime:true}'>
          <td data-ng-click="fencingTime(fencer)">{{fencer.eventName}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.last_name}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.first_name}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.usfa_id}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.details.membership_type}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.birthyear}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.gender}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.details.saber_rating}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.details.foil_rating}}</td>
          <td data-ng-click="fencingTime(fencer)">{{fencer.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>