
<div class="container">
  <div class="row">    
    {{participant.first_name}} {{participant.last_name}}
  </div>
  <div class="row" >
    <div class="panel panel-success">
      <div class="panel-heading">Select Equipment to Checkout</div>
      <div class="panel-body">        
        <div class="checkbox" ng-repeat="equipment in equipmentList">
          <label>
            <input type="checkbox" ng-change="addRemoveItem(equipment)" ng-model='equipment.checked'> {{equipment.$id}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <button class="btn btn-primary" ng-click="equipmentCheckoutComplete()">Check Out</button>
    </div>
  </div>
</div>