<!--
<h1>Checkin</h1>

<div>
    <p>Tournament: 
        <select ng-model="selectedTournament" ng-change='getTournamentData()'>
            <option value='' disabled selected>Select Tournament</option>
            <option ng-repeat="tournament in tournaments" value="{{tournament}}">{{tournament}}</option>
        </select>
    </p>
</div>

<form ng-submit='getAthlete()'>
    First name:
    <input type='text' ng-model='athlete.firstName'>
    Last name:
    <input type='text' ng-model='athlete.lastName'>
    ID:
    <input type='text' ng-model='athlete.usfaID'>
    <input type='submit' class="btn btn-success">

</form>
</div>

<table class='table table-striped table-bordered' id='eventTable'>
    <thead>
        <tr>
            <th class='col-sm-4'>Event</th>
            <th class='col-sm-2'>Participating</th>
            <th class='col-sm-1''>Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat='event in events'>
            <td>{{event.name}}</td>
            <td style="text-align: center; vertical-align: middle;"><input type="checkbox" ng-model='user.preRegistered'></td>
            <td>{{event.cost}}</td>
        </tr>
    </tbody>
</table>
<div>
    Amount Due: {{totalAmountDue}} 
    <select ng-change='moneyTakenInByType()' ng-model="paymentType">
        <option value="cash">Cash</option>
        <option value="check">Check</option>
        <option value="card">Card</option>
    </select>
    
</div>

-->
<div>
  <h1>Current Tournament: {{selectedTournament}}</h1>
</div>
<div class="panel panel-success">
  <div class="panel-heading"><h3>People that need to check-in</h3></div>
    <div class="panel-body">
      <table class='table table-striped table-bordered' id='participantTable'>
        <thead>
            <tr>
                <th class='col-sm-4'>Last name</th>
                <th class='col-sm-4'>First name</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat='participant in participants'>
                <td data-ng-click="getParticipant(participant)">{{participant.lastName}}</td>
                <td data-ng-click="getParticipant(participant)">{{participant.firstName}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
    