
<h4 class="whiteBackground">{{currentParticipant.first_name}} {{currentParticipant.last_name}} </h4>


<table class='table table-striped table-bordered' id='eventTable'  st-table="currentTournament.tournament.tournamentEvents">
    <thead>
        <tr>
            <th class='col-sm-4' st-sort='full_name' st-skip-natural="true">Event</th>
            <th class='col-sm-2' >Participating</th>
            <th class='col-sm-1' st-sort='fee' st-skip-natural="true">Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat='event in currentTournament.tournament.tournamentEvents'>
            <td>{{event.full_name}}</td>
            <td style="text-align: center; vertical-align: middle;"><input type="checkbox" ng-model='event.preRegistered' ng-change="eventSelected(event)"></td>
            <td>{{event.fee | currency}}</td>
        </tr>
    </tbody>
</table>

<div class="whiteBackground">
    Amount Due: {{totalAmountDue | currency}} 
    <select ng-change='paidBy()' ng-model="paymentType">
        <option value="" disabled selected>Payment type?</option>
        <option value="cash">Cash</option>
        <option value="check">Check</option>
        <option value="card">Card</option>
    </select>
    
</div>