<div class="container">
  <form>
    <div class="container col-md-6">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="currentParticipant.first_name">
      </div>    
      <div class="form-group">
        <label for="firstName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name"  ng-model="currentParticipant.last_name">
      </div>
      <div class="form-group">
        <label for="usfaMembershipNumber">USFA Membership Number</label>
        <input type="text" class="form-control" id="usfaMembershipNumber" placeholder="USFA Membership Number" ng-model="currentParticipant.usfa_id">
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="birthYear">Birth year</label>
          <input type="year" class="form-control" id="birthYear" placeholder="Birth year" ng-model="currentParticipant.birthyear">
        </div>
        <div class="col-md-4">
          <label for="rating">Gender</label>
          <input type="gender" class="form-control" id="gender" placeholder="Gender" ng-model="currentParticipant.gender">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="rating">Ask Fred Rating</label>
          <input type="rating" class="form-control" id="rating" placeholder="Rating" ng-model="currentParticipant.rating">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="membershipCurrent">Membership Current</label>
          <input type="text" class="form-control" id="membershipCurrent" placeholder="Is USFA Membership Current?" ng-model="fencerDetails.competitive">
        </div>
        <div class="col-md-6">
          <label for="typeUSFAMembership">Membership Type</label>
          <input type="text" class="form-control" id="typeUSFAMembership" placeholder="Type of USFA Membership" ng-model="fencerDetails.membership_type">
        </div>
      </div>
      <div class="form-group">
        <button id="equipmentButton" type="button" class="btn btn-primary" ng-click="equipmentCheckout()">Equipment checkout</button>
        <button id="memberStatusUpdateButton" type="button" class="btn btn-primary" ng-click="updateMember()">Update Member</button>
      </div>
    </div>
    <div class="container col-md-6">
      <div class="row">
        <table class='table table-striped table-bordered' id='eventTable'  st-table="tournamentEvents">
          <thead>
            <tr>
              <th class='col-md-4' st-sort='full_name' st-skip-natural="true">Event</th>
              <th class='col-md-2' >Participating</th>
              <th class='col-md-1' st-sort='fee' st-skip-natural="true">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='event in tournamentEvents track by event.id'>
              <td>{{event.full_name}}</td>
              <td style="text-align: center; vertical-align: middle;">
                  <input type="checkbox" ng-model='event.preRegistered' ng-change="eventSelected(event)">
<!--                <input type="checkbox" ng-model='currentTournament.tournament.tournamentEvents[event.id]' ng-change="eventSelected(event)">-->
              </td>
              <td>{{event.fee | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <label for="amountDue">Amount Due:</label>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="amountDue" placeholder="Amount" ng-model="totalAmountDue">
            <div class="input-group-addon">.00</div>   
          </div>
        </div>
        <div class="col-md-6">      
          <select class="form-control" ng-change='paidBy()' ng-model="paymentType">
            <option value="" disabled selected>Payment type?</option>
            <option value="cash">Cash</option>
            <option value="check">Check</option>
            <option value="card">Card</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button id="submitBtn" type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
      </div>
    </div>    
  </form>
</div>
