
<div class="form-group">
  <button id="newFencer" type="button" class="btn btn-primary" ng-click="emptyFencer()">Register New Fencer</button>
</div>
<div class="checkinTables">
<div class="panel panel-success">
  <div class="panel-heading"><h3>People that need to check-in</h3></div>
    <div class="panel-body table-responsive">
      <table class='table table-striped table-bordered' id='participantTable' st-table="fencers2" st-safe-src="participants">
        <thead>
          <tr>
            <th class='col-sm-4' st-sort='last_name' st-skip-natural="true">Last name</th>
            <th class='col-sm-4' st-sort='first_name' st-skip-natural="true">First name</th>
            <th class='col-sm-4' st-sort='usfa_id' st-skip-natural="true">US Fencing ID</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="fencer in fencers2 | filter:{checkedIn:false}">
            <td data-ng-click="getParticipant(fencer)">{{fencer.last_name}}</td>
            <td data-ng-click="getParticipant(fencer)">{{fencer.first_name}}</td>
            <td data-ng-click="getParticipant(fencer)">{{fencer.usfa_id}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading"><h3>People that are checked-in</h3></div>
    <div class="panel-body table-responsive">
      <table class='table table-striped table-bordered' id='participantTable' st-table="fencers2" st-safe-src="participants">
        <thead>
          <tr>
            <th class='col-sm-4' st-sort='last_name' st-skip-natural="true">Last name</th>
            <th class='col-sm-4' st-sort='first_name' st-skip-natural="true">First name</th>
            <th class='col-sm-4' st-sort='usfa_id' st-skip-natural="true">US Fencing ID</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="fencer in fencers2 | filter:{checkedIn:true}">
            <td data-ng-click="getParticipant(fencer)">{{fencer.last_name}}</td>
            <td data-ng-click="getParticipant(fencer)">{{fencer.first_name}}</td>
            <td data-ng-click="getParticipant(fencer)">{{fencer.usfa_id}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
</div>